

*.log
*.out
*.aux
*.Rhistory
*flymake*
*.jpg
*.dvi
*~
*.toc
*.aux
*.out
*.tex
*.gin
*.bar
*.cor
*.cpp
*.rdat
*.eva
*.exe
*.htp
*.log
*.o
*.obj
*.par
*.rep
*.std
*.hst
*.psv
*.mc2
*.ecm
*.mcm
*.txt
*.p0[0-3]
*.b0[0-3]
*.r0[0-3]
*.cov
*.dep
*.hes
*.rpt
*.cs
/sims
/switch.dat
/tacalc.dat
/variance
/Figures/*
/RunRetro* 