

*.log
*.out
*.aux
*.Rhistory
*flymake*
*.jpg
*.dvi
*~
*.toc
*.aux
*.out
*.tex
*.gin
*.bar
*.cor
*.cpp
*.rdat
*.eva
*.exe
*.htp
*.log
*.o
*.obj
*.par
*.rep
*.std
*.hst
*.psv
*.mc2
*.ecm
*.mcm
*.txt
*.p0[0-3]
*.b0[0-3]
*.r0[0-3]
*.cov
*.dep
*.hes
*.rpt
*.cs
/sims
/switch.dat
/tacalc.dat
/variance
/Figures/*
/RunRetro* 


examples/4_References/basic_sweave.pdf
examples/5_0_DynamicSweave/dynamic_sweave.pdf
examples/5_0_DynamicSweave/figures/plot_fit.pdf
examples/9_admb_sweave/figures/plot_fit.pdf
examples/9_admb_sweave/mcmc.csv
examples/9_admb_sweave/sweave_admb.pdf
examples/9_admb_sweave/sweave_admb_1.pdf
examples/9_admb_sweave/variance
examples/2_basic_sweave/basic_sweave.pdf
examples/2_basic_sweave/basic_sweave.tex
examples/2_basic_sweave/figures/plot_fit.pdf
examples/3_Abstract/basic_sweave.pdf
examples/3_Abstract/figures/plot_fit.pdf
examples/4_References/figures/plot_fit.pdf
examples/5_MultiPartSweave/figures/fit_gb.pdf
examples/5_MultiPartSweave/figures/fit_nc.pdf
examples/5_MultiPartSweave/figures/fit_smb.pdf
examples/5_MultiPartSweave/main.bbl
examples/5_MultiPartSweave/main.blg
examples/5_MultiPartSweave/main.pdf
examples/6_Presentations/figures/plot_fit.pdf
examples/6_Presentations/sweave_beamer.nav
examples/6_Presentations/sweave_beamer.pdf
examples/6_Presentations/sweave_beamer.snm
examples/6_Presentations/sweave_beamer.vrb
